h1 {
  text-align: center;
}
h1 {
  color: rgb(4, 4, 248);
  background-color: white;
}
h2 {
    color: rgb(4, 4, 248);
    font-family: Arial;
    }
p {
        color:black;
      }
.heading {
    color: rgb(4, 4, 248);
}
#About {
    font-family: Arial;
    text-transform: uppercase;
}
#Skills {
      font-family: Arial;
      text-transform: uppercase;
}
#Accomplishments{
  font-family: Arial;
  text-transform: uppercase;
}
#Contact{
  font-family: Arial;
  text-transform: uppercase;
}
.uppercase {
        text-transform: uppercase;
}
#Contact
.contactform {
    font-family: bold
}
.list li {
    color: black;
    font-size: 14px;
}
h3, h4 {
    color:rgb(4,4,248); 
}
body {
    font-family: Arial;
}
p {
    font-size: 14px;
}
#contactsection {
    background-color: rgb(192, 231, 250);
}
.overlay {
    opacity: 1.00
  }
table, th, td {
    border:2px solid black;
    border-collapse: collapse;
    padding: 5px
  }
img {
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#aboutsection {
    padding: 20px;
  }
#contactsection {
    padding: 20px;
  }
#accomplishmentssection {
    padding: 0px;
  }
  .topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(192, 231, 250);
}  
.topnav a {
    float: left;
    outline: width 0;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}
main {
    margin-top: 0px;
}
header {
    margin-top: 50px
}
.topnav .icon {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: left;
      display: block;
    }
  }
    @media only screen and (max-width: 600px) {
        .topnav.responsive {
          position: fixed;
      }
       
        .topnav.responsive a.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
       
        .topnav.responsive a.icon {
          float: none;
          display: block;
          text-align: left;
        }
      }
